.container {
    display: table;
    width: 100%;
}

.draggableList {
    width: 10%;
    position: absolute;
  left: 0px;
    /* outline: 3px solid; 
    outline-offset: 3px; */
}

.draggableSquares {
  position: absolute;
  right: 0px;
  width: 50%;
    /* outline: 3px solid; 
    outline-offset: 3px; */
}